/* basic CSS sheet for the Sharpsburg Web Site */

/* set columns for page data */
.column-left {
  float: left;
  width: 25%;
 }
.column-center {
  display: inline-block;
  width: 45%;
}
.border-center {
  border-style: outset;
  border-color: DodgerBlue;
  border-width: 1;

}
.column-right {
  float: right;
  width: 29%;
}

/* set some basic structure for the sections */
body {
  background-color: white;
}
p1 span {
  font-size: 13px;
  display: block;
  padding-right: 5%
}
p2 span {
  font-size:95%;
  text-align: justify;
  padding-right: 5%;
  padding-left: 5%;
  display: block;
}
p3 span {
  font-size: 95%;
  text-align: justify;
  display: block;
  padding-left: 5%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: DodgerBlue;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}
li a: hover {
  background-color: Black;
}

/*set some text attributes */
.sharpsburgblue {
  color: DodgerBlue;
}

/* Some id specific attributes */
#sharpsburgemblem {
  padding-bottom: 5px;
}

#sharpsburgaerial {
  /* force the image to width of the column- center container */
  width: 90%;
  height: 500px;
  padding-left: 5%;
  padding-top: 15px;
}

#optimusprimecasual {
  width: 90%;
  height: 600px;
  padding-left: 5%;
  padding-top: 15px;
}

#map {
  height: 475px;
  width:95%;
}
